.App {
  text-align: center;
  align-items: center;

}

.container {
  margin: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(170, 170, 170);
  /* height: 90%;
  width: 90%; */
}

.message-container {
  background-color: rgb(138, 231, 252);
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  border: 1px solid black;
}

.input-container {
  display: flex;
  align-items: center;
}

.input-container input {
  margin-right: 10px;
  text-align: justify;
}

.input-container button {
  padding: 5px;
}
